.skills__hero-container {
    margin-bottom: 3rem;
}

@media (min-width: 600px) {
    .skills__darkness-text-icon {
        filter: brightness(0.5);
        transition: filter 0.3s ease;
    }

    .skills__darkness-text-icon:hover {
        filter: brightness(1);
    }
}

@media (max-width: 600px) {
    .skills__darkness-text-icon {
        filter: brightness(0.5);
        transition: filter 0.3s ease;
    }

    .skills__darkness-text-icon:focus,
    .skills__darkness-text-icon:active {
        filter: brightness(1);
    }
}
