.about__grid-container {
    /* Push the content below - down. */
    margin-bottom: 25px;

    padding: 15px;

    /* padding: 2rem; */

    border-radius: 10px;
    border: 2px solid rgba(39, 39, 42, 0.5); /* 50% opacity */
}

/* Standard size */
.about__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
}

/* Larger size for bigger screens */
@media (min-width: 1441px) {
    .about__image {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about__first-section {
        padding-left: 10px;
    }
}

/* For mobile enheder (op til 767px) */
@media (max-width: 767px) {
    .about__first-section {
        padding-left: 10px;
    }
}

/* For laptops (768px til 1440px) */
@media (min-width: 768px) and (max-width: 1440px) {
    .about__first-section {
        padding-left: 15px;
    }
}

/* Smartphones (up to 600px) */
@media (max-width: 600px) {
    .about__image {
        width: 69px;
        height: 69px;
        margin-top: 2.2rem;
    }
}
.about__image {
    z-index: 1;
    transition: box-shadow 0.5s ease;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 4px 1px rgba(0, 123, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 7px 4px rgba(0, 123, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 4px 1px rgba(0, 123, 255, 0.7);
    }
}
