.skills__hero-container {
    /* Push the content below - down. */
    margin-bottom: 25px;
}

.skills__darkness-text-icon {
    filter: brightness(0.5);
    transition: filter 0.3s ease;
}

.skills__darkness-text-icon:hover {
    filter: brightness(1);
}
