/* Import Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    margin-left: 25%;
    margin-top: 3rem;
    margin-right: 25%;
    /* background-color: #09090b;
    border: solid white; */
    background-color: #09090b;
}

hr {
    height: 1px;
    background-color: #27272a; /* Den ønskede farve */
    border: none; /* Fjerner standardgrænsen */
    margin: 15px 0; /* Giver afstand over og under linjen */
}

/* THIS SHOULD BE CHANGED */
/* div {
    color: #fafafa;
} */
